%button {
  display: inline-block;
  border: 1px solid $red;
  border-radius: 20px;
  padding: $spacer2 $spacer5;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.1rem;
  color: $red;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.125s ease;
  &:hover {
    background-color: $red;
    color: $white;
    text-decoration: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.button {
  @extend %button;
}

.button-primary {
  @extend %button;
  background-color: $red;
  color: $white;
}

.button-alt {
  @extend %button;
  border: 1px solid $white;
  color: $white;
  &:hover {
    background-color: $white;
    color: $red;
  }
}

.button-primary-alt {
  @extend %button;
  background-color: $white;
  color: $red;
  &:hover {
    background-color: $white;
    color: $red;
  }
}