<lm-modal-placeholder></lm-modal-placeholder>
<div class="d(flex) ai(center) bg(red) px(20px) py(10px)">
    <div class="d(flex) ai(center)">
        <div class="pr(20px) br(1) bc(white-30)"><a routerLink=""><lm-icon class="w(24px) h(24px) fill(white-60) fill-hover(white) t(fill)" [icon]="'logo'"></lm-icon></a></div>
        <a class="ml(20px) fs(1.3rem) c(white-60) c-hover(white) c-is-active(white) t(c) td(none)" routerLink="home" routerLinkActive="is-active">Inicio</a>
        <a class="ml(40px) fs(1.3rem) c(white-60) c-hover(white) c-is-active(white) t(c) td(none)" routerLink="leads" routerLinkActive="is-active">Clientes Potenciales</a>
        <a class="ml(40px) fs(1.3rem) c(white-60) c-hover(white) c-is-active(white) t(c) td(none)" routerLink="administration" routerLinkActive="is-active">Administración</a>
    </div>
    <div class="d(flex) ai(center) ml(auto)">
        <a class="fs(1.3rem) c(white-60) c-hover(white) t(c) td(none) cu(pointer)">Pablo Alonso López</a>
    </div>
</div>
<router-outlet></router-outlet>