<lm-modal-placeholder></lm-modal-placeholder>
<div class="app-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="app-header-navigation"> 
                    <a routerLink=""><lm-icon class="logo" [icon]="'logo'"></lm-icon></a>
                    <span class="app-header-separator"></span>
                    <a routerLink="home" routerLinkActive="is-active">Inicio</a>
                    <a routerLink="leads" routerLinkActive="is-active">Clientes Potenciales</a>
                    <a routerLink="administration" routerLinkActive="is-active">Administración</a>
                </nav>
            </div>
            <div class="col col-auto">
                <nav class="app-header-session">
                    <a>Pablo Alonso López</a>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="app-content">
    <router-outlet></router-outlet>
</div>