.link {
  text-decoration: none;
  transition: color .15s ease-in;
  &:link, &:visited, &:hover, &:active {
    transition: color .15s ease-in;
  }
  &:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
  }
}