.nested-copy-line-height {
  p, ul, ol {
    line-height: 1.5;
  }
}

.nested-headline-line-height {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
  }
}

.nested-list-reset {
  ul, ol {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
  }
}

.nested-copy-indent {
  p+p {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nested-copy-separator {
  p+p {
    margin-top: 1.5em;
  }
}

.nested-img {
  img {
    width: 100%;
    max-width: 100%;
    display: block;
  }
}

.nested-links {
  a {
    color: map-get($colors, blue);
    transition: color .15s ease-in;
    &:hover, &:focus {
      color: map-get($colors, light-blue);
      transition: color .15s ease-in;
    }
  }
}