@each $bp-name in map-keys($breakpoints) {
  @include media($bp-name) {
    .outline#{bp-suffix($bp-name)}             { outline: 1px solid; }
    .outline-transparent#{bp-suffix($bp-name)} { outline: 1px solid transparent; }
    .outline-0#{bp-suffix($bp-name)}           { outline: 0; }
  }
}