$transitions: (
  all: (all .15s ease-in),
  bg: (background-color .15s ease-in),
  c: (color .15s ease-in),
  fill: (fill .15s ease-in)
);

$breakpoints: (
  xs: 0,
  sm: 30em,
  md: 60em
);

$border-collapse: (
  collapse: collapse
);

$border-radiuses: (
  4px: 4px
);

$borders: (
  1: (1px solid),
  3: (3px solid)
);

$box-shadows: (
  modal: (0 0 10px 0 rgba(0, 0, 0, 0.9))
);

$colors: (
  transparent: transparent,
  red: #E60000,
  science-blue: #0070D2,
  endeavour: #005FB2,
  biscay: #16325C,
  kashmir-blue: #54698D,
  bali-hai: #8798B3,
  geyser: #D8DDE6,
  catskill-white: #F7F9FB,
  white: #FFFFFF,
  white-60: rgba(255, 255, 255, .6),
  white-30: rgba(255, 255, 255, .3)
);

$coordinates: (
  0: 0
);

$cursors: (
  pointer: pointer
);

$displays: (
  flex: flex,
  inline-block: inline-block,
  block: block
);

$flex-alignments: (
  center: center
);

$flex: (
  1: 1,
  0: 0 0 auto
);

$flex-directions: (
  column: column
);

$flex-wrap: (
  wrap: wrap
);

$font-families: (
  open-sans: "Open Sans"
);

$font-sizes: (
  62.5%: 62.5%,
  1.2rem: 1.2rem,
  1.3rem: 1.3rem,
  1.4rem: 1.4rem,
  1.6rem: 1.6rem,
  2rem: 2rem
);

$font-weights: (
  300: 300,
  400: 400,
  600: 600
);

$heights: (
  100%: 100%,
  24px: 24px,
  40px: 40px
);

$letter-spacings: (
  0.1rem: 0.1rem
);

$line-heights: (
  1: 1,
  1.25: 1.25,
  1.5: 1.5
);

$min-heights: (
  min-content: min-content
);

$opacities: (
  0.9: 0.9
);

$outlines: (
  0: 0
);

$overflows: (
  auto: auto
);

$positions: (
  absolute: absolute,
  fixed: fixed
);

$spacings: (
  auto: auto,
  -1px: -1px,
  5px: 5px,
  10px: 10px,
  20px: 20px,
  30px: 30px,
  40px: 40px
);

$text-alignments: (
  left: left,
  center: center,
  right: right
);

$text-decorations: (
  none: none,
  underline: underline
);

$text-transformations: (
  uppercase: uppercase
);

$widths: (
  25%: 25%,
  33.33%: 33.33%,
  66.66%: 66.66%,
  50%: 50%,
  75%: 75%,
  100%: 100%,
  24px: 24px,
  40px: 40px,
  1000px: 1000px
);

$white-space: (
  nowrap: nowrap
);

$dictionary: (
 (ai,     align-items,                        $flex-alignments,       null,                 null),
 (bra,    border-radius,                      $border-radiuses,       null,                 null),
 (btra,   (border-top-left-radius, border-top-right-radius),                      $border-radiuses,       null,                 null),
 (bbra,   (border-bottom-left-radius, border-bottom-right-radius),                      $border-radiuses,       null,                 null),
 (b,      border,                             $borders,               null,                 null),
 (bb,     border-bottom,                      $borders,               (hover, is-active),   null),
 (bl,     border-left,                        $borders,               (hover, is-active),   null),
 (br,     border-right,                       $borders,               (hover, is-active),   null),
 (bt,     border-top,                         $borders,               (hover, is-active),   null),
 (bc,     border-color,                       $colors,                (hover, is-active),   null),
 (bco,    border-collapse,                    $border-collapse,       null,                 null),
 (bg,     background-color,                   $colors,                (hover, is-active),   null),
 (bottom, bottom,                             $coordinates,           null,                 null),
 (boxs,   box-shadow,                         $box-shadows,           null,                 null),
 (c,      color,                              $colors,                (hover, is-active, placeholder),   null),
 (cu,     cursor,                             $cursors,               null,                 null),
 (d,      display,                            $displays,              null,                 null),
 (fill,   fill,                               $colors,                (hover),              null),
 (flex,   flex,                               $flex,                  null,                 null),
 (fd,     flex-direction,                     $flex-directions,       null,                 null),
 (ff,     font-family,                        $font-families,         null,                 null),
 (fs,     font-size,                          $font-sizes,            null,                 null),
 (fw,     font-weight,                        $font-weights,          null,                 null),
 (flexw,  flex-wrap,                          $flex-wrap,             null,                 null),
 (h,      height,                             $heights,               null,                 null),
 (jc,     justify-content,                    $flex-alignments,       null,                 null),
 (left,   left,                               $coordinates,           null,                 null),
 (ls,     letter-spacing,                     $letter-spacings,       null,                 null),
 (lh,     line-height,                        $line-heights,          null,                 null),
 (m,      margin,                             $spacings,              null,                 null),
 (mb,     margin-bottom,                      $spacings,              null,                 null),
 (ml,     margin-left,                        $spacings,              null,                 null),
 (mt,     margin-top,                         $spacings,              null,                 null),
 (minh,   min-height,                         $min-heights,           null,                 null),
 (o,      opacity,                            $opacities,             null,                 null),
 (ou,     outline,                            $outlines,              null,                 null),
 (ov,     overflow,                           $overflows,             null,                 null),
 (p,      padding,                            $spacings,              null,                 null),
 (pb,     padding-bottom,                     $spacings,              null,                 null),
 (pl,     padding-left,                       $spacings,              null,                 null),
 (pr,     padding-right,                      $spacings,              null,                 null),
 (pt,     padding-top,                        $spacings,              null,                 null),
 (px,     (padding-left, padding-right),      $spacings,              null,                 null),
 (py,     (padding-top, padding-bottom),      $spacings,              null,                 null),
 (pos,    position,                           $positions,             null,                 null),
 (right,  right,                              $coordinates,           null,                 null),
 (t,      transition,                         $transitions,           null,                 null),
 (ta,     text-align,                         $text-alignments,       null,                 null),
 (td,     text-decoration,                    $text-decorations,      (hover),              null),
 (tt,     text-transform,                     $text-transformations,  null,                 null),
 (top,    top,                                $coordinates,           null,                 null),
 (w,      width,                              $widths,                null,                 null),
 (ws,     white-space,                        $white-space,           null,                 null)
);