<div class="lm-lead-detail-inner" *ngIf="lead">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row row-middle">
                <div class="col">
                    <p class="entity-type">Cliente Potencial</p>
                    <h1>{{lead.mobileNumber ? lead.mobileNumber : lead.email}}</h1>
                    <h2 *ngIf="lead.mobileNumber && lead.email">{{lead.email}}</h2>
                </div>
                <div class="col col-auto">
                    <div style="display: flex;">
                        <a class="button-primary-alt">Acciones</a>
                        <a class="button-alt  ml-3" (click)="openEditLeadModal()">Editar</a>
                        <a class="button-alt ml-3" (click)="deleteLead()">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content py-8">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-6">
                    <p class="form-title pt-0">Información Cliente</p>
                    <div class="row">
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Teléfono Móvil</p>
                                <p>{{lead.mobileNumber}}</p>
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Correo Electrónico</p>
                                <p>{{lead.email}}</p>
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Nº Documento</p>
                                <p>{{lead.documentNumber}}</p>
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Teléfono Fijo</p>
                                <p>{{lead.fixNumber}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="form-title">Dirección</p>
                    <div class="row">
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Dirección</p>
                                <p>{{lead.addressStreetType}} {{lead.addressStreetName}} {{lead.addressNumber}} {{lead.addressLadder}} {{lead.addressFloor}}</p>
                                <p>{{lead.addressCity}} {{lead.addressProvince}} {{lead.addressPostalCode}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="form-title">Información Comercial</p>
                    <div class="row">
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Tipo de Servicio</p>
                                <p>{{lead.serviceType}}</p>
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Tipo de Oferta</p>
                                <p>{{lead.offerType}}</p>
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Motivo del Cambio</p>
                                <p>{{lead.changeReason}}</p>
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="form-group">
                                <p class="label">Compañía Actual</p>
                                <p>{{lead.currentCompany}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <p class="label">Preferencia Horario Contacto</p>
                                <p>{{lead.preferredContactTime}}</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <p class="label">Preferencia Método Contacto</p>
                                <p>{{lead.preferredContactMethod}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <p class="label">Comentarios</p>
                                <p>{{lead.comments}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="form-title">Información de Sistema</p>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <p class="label">Estado</p>
                                <p>{{lead.status}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>