<div class="d(flex) fd(column) flex(1)" *ngIf="lead">
    <div class="d(flex) ai(center) bb(1) bc(geyser) p(20px) bg(catskill-white)">
        <div>
            <p class="fs(1.2rem) c(kashmir-blue) tt(uppercase) ls(0.1rem)">Cliente Potencial</p>
            <h1 class="lh(1.25) fw(400) fs(2rem)">{{lead.mobileNumber ? lead.mobileNumber : lead.email}}</h1>
        </div>
        <div class="d(flex) ai(center) ml(auto)">
            <a class="button">Acciones</a>
            <a class="ml(10px) button" (click)="openEditLeadModal()">Modificar</a>
            <a class="ml(10px) button" (click)="deleteLead()">Eliminar</a>
        </div>
    </div>
    <div class="d(flex) ov(auto)">
        <div class="w(66.66%) p(10px) minh(min-content)">
            <div class="p(10px)">
                <div class="bb(1) bc(geyser)">
                    <p class="d(inline-block) mb(-1px) bb(1) bc(red) px(20px) pb(10px) fw(600) c(biscay) tt(uppercase) ls(0.1rem)">Detalles</p>
                </div>
            </div>
            <div class="d(flex) flexw(wrap)">
                <div class="w(50%) p(10px)">
                    <p class="label">Teléfono Móvil</p>
                    <p class="form-control-readonly">{{lead.mobileNumber}}</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Correo Electrónico</p>
                    <p class="form-control-readonly"><a class="c(science-blue) c-hover(endeavour) td(none) td-hover(underline) t(c)" href="mailto:{{lead.email}}">{{lead.email}}</a></p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Nº Documento</p>
                    <p class="form-control-readonly">{{lead.documentNumber}}</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Teléfono Fijo</p>
                    <p class="form-control-readonly">{{lead.fixNumber}}</p>
                </div>
                <div class="w(100%) p(10px)">
                    <p class="px(10px) py(5px) bg(catskill-white) fw(600)">Información de dirección</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Dirección</p>
                    <div class="form-control-readonly">
                        <a class="c(science-blue) c-hover(endeavour) td(none) td-hover(underline) t(c)" href="https://www.google.com/maps/?q={{lead.addressStreetType}} {{lead.addressStreetName}} {{lead.addressNumber}} {{lead.addressDoorway}} {{lead.addressLadder}} {{lead.addressFloor}} {{lead.addressDoor}} {{lead.addressCity}} {{lead.addressProvince}} {{lead.addressPostalCode}} {{lead.addressCountry}}" target="_blank">
                            {{lead.addressStreetType}} {{lead.addressStreetName}}, {{lead.addressNumber}}, {{lead.addressDoorway}}, {{lead.addressLadder}}, {{lead.addressFloor}}, {{lead.addressDoor}}<br>
                            {{lead.addressCity}}, {{lead.addressProvince}} {{lead.addressPostalCode}} {{lead.addressCountry}}
                            <iframe class="mt(5px)" [attr.src]="getGoogleMapsUrl()" scrolling="no"></iframe>
                        </a>
                    </div>
                </div>
                <div class="w(100%) p(10px)">
                    <p class="px(10px) py(5px) bg(catskill-white) fw(600)">Información comercial</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Tipo de Servicio</p>
                    <p class="form-control-readonly">{{lead.serviceType}}</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Tipo de Oferta</p>
                    <p class="form-control-readonly">{{lead.offerType}}</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Motivo del Cambio</p>
                    <p class="form-control-readonly">{{lead.changeReason}}</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Compañía Actual</p>
                    <p class="form-control-readonly">{{lead.currentCompany}}</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Preferencia Horario Contacto</p>
                    <p class="form-control-readonly">{{lead.preferredContactTime}}</p>
                </div>
                <div class="w(50%) p(10px)">
                    <p class="label">Preferencia Método Contacto</p>
                    <p class="form-control-readonly">{{lead.preferredContactMethod}}</p>
                </div>
                <div class="w(100%) p(10px)">
                    <p class="px(10px) py(5px) bg(catskill-white) fw(600)">Información del sistema</p>
                </div>
                <div class="w(33.33%) p(10px)" style="margin-right: 66.66%">
                    <p class="label">Estado</p>
                    <p class="form-control-readonly">{{lead.status}}</p>
                </div>
                <div class="w(33.33%) p(10px)">
                    <p class="label">Canal Creador</p>
                    <p class="form-control-readonly"></p>
                </div>
                <div class="w(33.33%) p(10px)">
                    <p class="label">Perfil Creador</p>
                    <p class="form-control-readonly"></p>
                </div>
                <div class="w(33.33%) p(10px)">
                    <p class="label">SFID Creador</p>
                    <p class="form-control-readonly"></p>
                </div>
                <div class="w(33.33%) p(10px)">
                    <p class="label">Canal Última Modificación</p>
                    <p class="form-control-readonly"></p>
                </div>
                <div class="w(33.33%) p(10px)">
                    <p class="label">Perfil Última Modificación</p>
                    <p class="form-control-readonly"></p>
                </div>
                <div class="w(33.33%) p(10px)">
                    <p class="label">SFID Última Modificación</p>
                    <p class="form-control-readonly"></p>
                </div>
            </div>
        </div>
        <div class="w(33.33%) p(10px)">
            <div class="p(10px)">
                <div class="bb(1) bc(geyser)">
                    <p class="d(inline-block) mb(-1px) bb(1) bc(red) px(20px) pb(10px) fw(600) c(biscay) tt(uppercase) ls(0.1rem)">Actividad</p>
                </div>
            </div>
            <lm-lead-activity-new [lead]="lead"></lm-lead-activity-new>
            <lm-activities-list [activities]="lead.activities"></lm-activities-list>
            <!--
            <div class="p(10px) ta(right)">
                <a class="button" (click)="deleteLead()">Añadir actividad</a>
            </div>
            <div class="p(10px)">
                <div class="d(flex)">
                    <div>
                        <p>Contacto por teléfono</p>
                        <p class="fs(1.3rem) c(kashmir-blue)">Lo llamé ayer por teléfono. Parecía interesado en la oferta de televisión, es probable que lo llame de nuevo mañana para insistir otra vez.</p>
                    </div>
                    <div class="flex(0) pl(20px) fs(1.2rem) c(kashmir-blue) ml(auto)">21-Dic</div>
                </div>
                <div class="d(flex) mt(20px)">
                    <div>
                        <p>Contacto por teléfono de manera insistente</p>
                        <p class="fs(1.3rem) c(kashmir-blue)">Tras múltiples intentos no hay manera de contactar con el.</p>
                    </div>
                    <div class="flex(0) pl(20px) fs(1.2rem) c(kashmir-blue) ml(auto)">20-Dic</div>
                </div>
            </div>
            <div class="p(10px) ta(right)">
                <a class="button" (click)="deleteLead()">Más actividad anterior</a>
            </div>-->
        </div>
    </div>
</div>