<div class="d(flex) ai(center) bb(1) bc(geyser) p(20px) bg(catskill-white)">
    <div>
        <h1 class="lh(1.25) fw(300) fs(3.2rem)">Clientes Potenciales</h1>
    </div>
    <div class="d(flex) ai(center) ml(auto)">
      <a class="b(1) bra(4px) bc(geyser) px(20px) py(5px) bg(white) bg-hover(catskill-white) fs(1.3rem) c(science-blue) c-hover(endeavour) cu(pointer) t(bg) t(c)" (click)="openCreateLeadModal()">Nuevo</a>
    </div>
</div>
<div>
  <table class="w(100%) bco(collapse)" *ngIf="leads?.length && !loading" style="table-layout:fixed">
    <thead>
      <tr>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Id</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Teléfono Móvil</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Correo Electrónico</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Nº Documento</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Teléfono Fijo</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bgc-hover(alabaster) t(all)" *ngFor="let lead of leads">
        <td class="px(30px) py(15px) bb(1) bc(geyser)"><a routerLink="{{lead._id}}">{{lead._id}}</a></td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.mobileNumber}}</td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.email}}</td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.documentNumber}}</td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.fixNumber}}</td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.status}}</td>
      </tr>
    </tbody>
  </table>
  <div class="py-8 text-center" *ngIf="!leads?.length && !loading">
    <p class="fs(1.6rem) c(dusty-gray)">No se ha encontrado ningún Cliente Potencial.</p>
    <a class="button-primary mt-4" (click)="openCreateLeadModal()">Crear Cliente Potencial</a>
  </div>
  <div class="py-8 text-center" *ngIf="loading">
    <lm-icon icon="loader"></lm-icon>
  </div>
</div>