<div class="page-header">
    <div class="container-fluid">
        <div class="row row-middle">
            <div class="col">
                <h1>Clientes Potenciales</h1>
            </div>
            <div class="col col-auto">
              <a class="button-primary-alt" (click)="openCreateLeadModal()">Nuevo</a>
            </div>
        </div>
    </div>
</div>
<div>
  <table class="w(100%) bco(collapse)" *ngIf="leads?.length && !loading" style="table-layout:fixed">
    <thead>
      <tr>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Id</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Teléfono Móvil</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Correo Electrónico</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Nº Documento</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Teléfono Fijo</th>
        <th class="bb(1) bc(geyser) px(30px) py(15px) ta(left) fw(600) fs(1.3rem) c(nobel) tt(uppercase)">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bgc-hover(alabaster) t(all)" *ngFor="let lead of leads">
        <td class="px(30px) py(15px) bb(1) bc(geyser)"><a routerLink="{{lead._id}}">{{lead._id}}</a></td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.mobileNumber}}</td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.email}}</td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.documentNumber}}</td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.fixNumber}}</td>
        <td class="px(30px) py(15px) bb(1) bc(geyser)">{{lead.status}}</td>
      </tr>
    </tbody>
  </table>
  <div class="py-8 text-center" *ngIf="!leads?.length && !loading">
    <p class="fs(1.6rem) c(dusty-gray)">No se ha encontrado ningún Cliente Potencial.</p>
    <a class="button-primary mt-4" (click)="openCreateLeadModal()">Crear Cliente Potencial</a>
  </div>
  <div class="py-8 text-center" *ngIf="loading">
    <lm-icon icon="loader"></lm-icon>
  </div>
</div>