<div class="pos(fixed) top(0) right(0) bottom(0) left(0) bgc(bright-gray) o(0.9)"></div>
<div class="d(flex) fd(column) ai(center) pos(fixed) top(0) right(0) bottom(0) left(0) py(60px) ov(auto)">
    <div class="w(1000px) bra(4px) bgc(alabaster) boxs(modal)">
        <div class="btra(4px) px(60px) py(40px) bgc(red)">
            <h1 class="lh(1.25) fw(300) fs(3.2rem) c(white)">Editar Cliente Potencial</h1>
        </div>
        <lm-lead-form [lead]="lead" [submitButtonText]="'Guardar'" (onSubmit)="updateLead($event)" (onCancel)="cancel()"></lm-lead-form>
    </div>
</div>
