<form autocomplete="off" [formGroup]="leadForm" (ngSubmit)="onSubmit.emit(leadForm.value)">
  <input type="hidden" id="_id" formControlName="_id"/>
  <div class="d(flex) flexw(wrap) p(20px)">
    <p class="w(100%) p(15px) fw(600) fs(1.6rem)">Información Cliente</p>
    <div class="w(25%) p(15px)">
      <label class="label" for="mobileNumber">Teléfono Móvil</label>
      <input  type="text" id="mobileNumber" placeholder="Teléfono Móvil" formControlName="mobileNumber"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.mobileNumber">{{formErrors.mobileNumber}}</p>
    </div>
    <div class="w(25%) p(15px)">
      <label class="label" for="email">Correo Electrónico</label>
      <input  type="text" id="email" placeholder="Correo Electrónico" formControlName="email"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.email">{{formErrors.email}}</p>
    </div>
    <div class="w(25%) p(15px)">
      <label class="label" for="documentNumber">Nº Documento</label>
      <input  type="text" id="documentNumber" placeholder="Nº Documento" formControlName="documentNumber"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.documentNumber">{{formErrors.documentNumber}}</p>
    </div>
    <div class="w(25%) p(15px)">
      <label class="label" for="fixNumber">Teléfono Fijo</label>
      <input  type="text" id="fixNumber" placeholder="Teléfono Fijo" formControlName="fixNumber"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.fixNumber">{{formErrors.fixNumber}}</p>
    </div>
    <div class="w(33.33%) p(15px)">
      <label class="label" for="addressStreetType">Tipo de Vía</label>
      <input  type="text" id="addressStreetType" placeholder="Tipo de Vía" formControlName="addressStreetType"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.addressStreetType">{{formErrors.addressStreetType}}</p>
    </div>
    <div class="w(66.66%) p(15px)">
      <label class="label" for="addressStreetName">Nombre de Vía</label>
      <input  type="text" id="addressStreetName" placeholder="Nombre de Vía" formControlName="addressStreetName"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.addressStreetName">{{formErrors.addressStreetName}}</p>
    </div>
    <div class="w(33.33%) p(15px)">
      <label class="label" for="addressNumber">Número</label>
      <input  type="text" id="addressNumber" placeholder="Número" formControlName="addressNumber"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.addressNumber">{{formErrors.addressNumber}}</p>
    </div>
    <div class="w(33.33%) p(15px)">
      <label class="label" for="addressLadder">Escalera</label>
      <input  type="text" id="addressLadder" placeholder="Escalera" formControlName="addressLadder"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.addressLadder">{{formErrors.addressLadder}}</p>
    </div>
    <div class="w(33.33%) p(15px)">
      <label class="label" for="addressFloor">Piso</label>
      <input  type="text" id="addressFloor" placeholder="Piso" formControlName="addressFloor"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.addressFloor">{{formErrors.addressFloor}}</p>
    </div>
    <div class="w(33.33%) p(15px)">
      <label class="label" for="addressCity">Ciudad</label>
      <input  type="text" id="addressCity" placeholder="Ciudad" formControlName="addressCity"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.addressCity">{{formErrors.addressCity}}</p>
    </div>
    <div class="w(33.33%) p(15px)">
      <label class="label" for="addressProvince">Provincia</label>
      <input  type="text" id="addressProvince" placeholder="Provincia" formControlName="addressProvince"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.addressProvince">{{formErrors.addressProvince}}</p>
    </div>
    <div class="w(33.33%) p(15px)">
      <label class="label" for="addressPostalCode">Código Postal</label>
      <input  type="text" id="addressPostalCode" placeholder="Código Postal" formControlName="addressPostalCode"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.addressPostalCode">{{formErrors.addressPostalCode}}</p>
    </div>
    <p class="w(100%) p(15px) fw(600) fs(1.6rem)">Información Comercial</p>
    <div class="w(25%) p(15px)">
      <label class="label" for="serviceType">Tipo de Servicio</label>
      <input  type="text" id="serviceType" placeholder="Tipo de Servicio" formControlName="serviceType"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.serviceType">{{formErrors.serviceType}}</p>
    </div>
    <div class="w(25%) p(15px)">
      <label class="label" for="offerType">Tipo de Oferta</label>
      <input  type="text" id="offerType" placeholder="Tipo de Oferta" formControlName="offerType"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.offerType">{{formErrors.offerType}}</p>
    </div>
    <div class="w(25%) p(15px)">
      <label class="label" for="changeReason">Motivo del Cambio</label>
      <input  type="text" id="changeReason" placeholder="Motivo del Cambio" formControlName="changeReason"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.changeReason">{{formErrors.changeReason}}</p>
    </div>
    <div class="w(25%) p(15px)">
      <label class="label" for="currentCompany">Compañía Actual</label>
      <input  type="text" id="currentCompany" placeholder="Compañía Actual" formControlName="currentCompany"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.currentCompany">{{formErrors.currentCompany}}</p>
    </div>
    <div class="w(50%) p(15px)">
      <label class="label" for="preferredContactTime">Preferencia Horario de Contacto</label>
      <input  type="text" id="preferredContactTime" placeholder="Preferencia Horario de Contacto" formControlName="preferredContactTime"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.preferredContactTime">{{formErrors.preferredContactTime}}</p>
    </div>
    <div class="w(50%) p(15px)">
      <label class="label" for="preferredContactMethod">Preferencia Método de Contacto</label>
      <input  type="text" id="preferredContactMethod" placeholder="Preferencia Método de Contacto" formControlName="preferredContactMethod"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.preferredContactMethod">{{formErrors.preferredContactMethod}}</p>
    </div>
    <div class="w(100%) p(15px)">
      <label class="label" for="comments">Comentarios</label>
      <input  type="text" id="comments" placeholder="Comentarios" formControlName="comments"/>
      <p class="pt(5px) fw(600) fs(1.3) c(red)" *ngIf="formErrors.comments">{{formErrors.comments}}</p>
    </div>
  </div>
  <div class="d(flex) bt(1) bc(alto) px(60px) py(40px)">
    <input type="submit" value="{{submitButtonText}}" [disabled]="!leadForm.valid"/>
    <a (click)="onCancel.emit()">Cancelar</a>
  </div>
</form>