<div class="pos(fixed) top(0) right(0) bottom(0) left(0) bg(biscay) o(0.9)"></div>
<div class="d(flex) fd(column) ai(center) jc(center) pos(fixed) top(0) right(0) bottom(0) left(0) ov(auto)">
    <div class="bra(4px) bg(white) boxs(modal)">
        <div class="bb(1) bc(geyser) btra(4px) p(20px) bg(catskill-white)">
            <h1 class="lh(1.25) fw(400) fs(2rem)">{{title}}</h1>
        </div>
        <div class="p(20px)">
            {{body}}
        </div>
        <div class="d(flex) bt(1) bc(geyser) bbra(4px) bg(catskill-white) p(20px)">
            <a class="button" (click)="ok()">{{okButtonText}}</a>
            <a class="ml(10px) button" (click)="ko()">{{koButtonText}}</a>
        </div>
    </div>
</div>